<h1>User List</h1>

<% @users.each do |user| %>
  <div>
    <p><strong>Name:</strong> <%= user.name || "Undefined Name" %></p>
    <p><strong>Email:</strong> <%= user.email %></p>
    <p><strong>Follower Count:</strong> <%= user.followers_count %></p>
    <p><strong>Following Count:</strong> <%= user.following.count %></p>
    <%= link_to 'See Profile', user_path(user), class: 'btn btn-primary' %>

    <% if current_user.following?(user) %>
      <%= link_to 'Unfollow', unfollow_user_path(user), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= form_with(url: follow_user_path(user), method: :post, local: true) do %>
        <%= submit_tag 'Follow', class: 'btn btn-success' %>
      <% end %>
    <% end %>
  </div>
  <hr>
<% end %>

