<h2>Welcome, <%= @user.handle %></h2>

<div class="text-center">
  <%= image_tag @user.avatar_url, size: "150x150", class: "rounded-circle mb-3" %>
</div>

<p>Email: <%= @user.email %></p>
<p>Joined at: <%= @user.created_at.strftime("%B %d, %Y") %></p>
<li>Total Posts: <%= @user.posts.count %></li>
<li>Total Mood Expressions Received: <%= @user.posts.joins(:likes).count %></li>

<div class="d-flex flex-column align-items-center mt-4">
  <%= link_to "Change Your Password", edit_user_registration_path, class: "btn btn-info grow-button mb-2" %>
  <%= link_to "Change Profile Picture", edit_avatar_users_path, class: "btn btn-primary grow-button mb-2" %>
  <%= link_to "Change Handle", edit_handle_users_path, class: "btn btn-secondary grow-button mb-2" %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3>Your Posts</h3>
      <% @own_posts.each do |post| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= post.mood_word %></h5>
            <p class="card-text">Created At: <%= post.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
            <p class="card-text">Moods Expressed: <%= post.likes.count %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Posts You Expressed Mood On</h3>
      <% @liked_posts.each do |post| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= post.mood_word %></h5>
            <p class="card-text">Created At: <%= post.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
            <p>Posted By: <%= post.user&.handle || "Unknown User" %></p>
            <p class="card-text">Moods Expressed: <%= post.likes.count %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
