<%= form_for @post,local: true do |f| %>
  <%= f.hidden_field :gif_url %>
  <%= f.label :mood_word %>
  <%= f.text_field :mood_word %>
  <% if @post.errors[:mood_word].any? %>
  <div class="error">
    <%= @post.errors[:mood_word].first %>
  </div>
<% end %>
<%= f.submit %>
<% end %>
