<nav class="navbar sticky-top navbar-expand-lg" style="background: transparent; box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);">
  <div class="container-fluid">
    <%= image_tag "logo.png", class: "navbar-brand", width: 40 %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home Page", root_path, class:"nav-link active fw-semibold text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Explore Users', users_path, class:"nav-link active fw-semibold text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Followed Posts', followed_posts_path, class:"nav-link active fw-semibold text-white" %>
        </li>
      </ul>

      <!-- Right-aligned navbar links based on authentication -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <!-- If the user is signed in -->
          <li class="nav-item">
            <%= link_to "My Profile", profile_users_path, class: "nav-link active fw-semibold text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link active fw-semibold text-white" do %>
              <%= content_tag(:span, 'Logout', class: 'glyphicon glyphicon-log-out') %>
            <% end %>
          </li>
        <% else %>
          <!-- If the user is not signed in -->
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link active fw-semibold text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link active fw-semibold text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
