<h1>Posts from People You Follow</h1>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="card mb-3">
      <div class="card-body">
        <span>
          <i class="fas fa-user-circle"></i> <%= post.user&.handle || "Unknown User" %>
        </span>
        <h5 class="card-title"><%= post.mood_word || "No Mood Word" %></h5>
        <% if post.gif_url.present? %>
          <img src="<%= post.gif_url %>" alt="Mood GIF" class="img-fluid">
        <% end %>
          <p class="card-text">Mood Twins: <%= post.likes.count %></p>
      </div>
        <div class="card-footer">
          <small class="text-muted">Created At: <%= post.created_at.strftime("%B %d, %Y at %I:%M %p") %></small>
        </div>
    </div>
  <% end %>
<% else %>
  <p>"Looks like you're flying solo—either you haven’t followed anyone yet, or your crew hasn’t dropped any posts. Time to shake things up!"</p>
<% end %>
